<div class="modal-body pt0" style="height: 200px;">
  <span style="    font-size: initial;
  text-align: center;
  margin-top: 10px;
  display: block;
  color: brown;
  background-color: antiquewhite;">Assign Related Products</span>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Choose Product</mat-label>
    <mat-select matInput>
      <mat-option *ngFor="let val of products" [value]="val.product_code">
        {{val.product_name +" "+ val.product_code}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button>Save</button>
</div> -->
<mat-form-field style="    display: block;
margin-top: 20px;">
  <mat-select placeholder="Choose Product" (selectionChange)="selectRelatedProducts($event.value)">
    <mat-option >
      <ngx-mat-select-search aria-placeholder="search" (keyup)="getProductList($event.target.value)"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let val of products" [value]="val.id" >
      {{val.product_name +" "+ val.product_code}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="saveRelatedProducts()" style="    position: relative;
left: 41%;
background-color: darkolivegreen;
top: 50px;
color: white;">Save</button>
</div>