<div class="loader" *ngIf = "loading_list">
  <div class="loding-logo">
      <mat-spinner></mat-spinner>
  </div>
</div>
<div class="main-container ">
  <div class="sticky-header">
      <div class="middle-container">
          <div class="tabs-list">
              <h1>Master</h1>
              <div class="input-field">
                  <!-- <input type="text"  placeholder="Search..." required /> -->
                  <!-- <i class="material-icons">
                      search
                  </i> -->
              </div>
          </div>
      </div>
  </div>
  <div class="container-outer tab-container">
    <app-master-tab></app-master-tab>

      <div class="image-list">
          <ul>
              <li *ngFor="let val of banner; let i = index">
                  <div class="image-section1">
                      <img [src]="db.myurl+'app/uploads/'+val.banner" (click)="openDialog(val.banner,'test8')" >
                  </div>
                  <div class="hvr-edit">
                      <a class="delete-icn"><i class="material-icons" (click)="deleteImage(val.id)">delete_sweep</i></a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
  <div class="add">
      <button mat-button class="add-btn">
          <label style="display:block; margin-top: 14px;">
              <input style="display:none;" type="file" (change)="profilefileChange($event)" name="file" placeholder="Upload file" accept=".png,.jpg,.jpeg" multiple />
              <i class="material-icons">add</i>
          </label>
      </button>
  </div>
</div>