<div class="loader" *ngIf = "loading_list">
    <div class="loding-logo">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div class="main-container" >
    <div class="fixed">
        <div class="tab-header">
            <div class="tabs-list gift-tab-list">
                <ul>
                    <li (click)="mode='1';filter = {}; current_page=1; getAvailableCoupanList(''); " [ngClass]="{'active': mode == '1'}">
                        <a>
                            <p>ALL</p>
                            <span *ngIf="avialable_coupon_count">{{avialable_coupon_count}}</span>
                        </a>
                    </li>
                    <li (click)="mode='2';filter = {}; current_page=1; getScannedList(''); " [ngClass]="{'active': mode == '2'}">
                        <a>
                            <p>SCANNED BY ELECTRICIAN</p>
                            <span *ngIf="sccaned_coupon_count">{{ sccaned_coupon_count}}</span>
                        </a>
                    </li>
                    <li (click)="mode='3';filter = {}; current_page=1; getScannedListRetailer(''); " [ngClass]="{'active': mode == '3'}">
                        <a>
                            <p>SCANNED BY DEALER</p>
                            <span *ngIf="sccaned_coupon_count_retailer">{{ sccaned_coupon_count_retailer}}</span>
                        </a>
                    </li>
                    <!-- <li (click)="mode='5';filter = {}; current_page=1; getCompanyCoupon(''); " [ngClass]="{'active': mode == '5'}">
                        <a>
                            <p>COMPANY COUPON</p>
                            <span *ngIf="total_company_coupon">{{total_company_coupon}}</span>
                        </a>
                    </li>
                    
                    <li (click)="mode='6'; filter = {}; current_page=1; scanned_coupons_codes(); " [ngClass]="{'active': mode == '6'}">
                        <a>
                            <p>SCANNED COMPANY COUPON</p>
                            <span *ngIf="total_company_scan">{{total_company_scan}}</span>
                        </a>
                    </li> -->
                    <li (click)="mode='4'; filter = {}; current_page=1; getcodeSummaryist(''); " [ngClass]="{'active': mode == '4'}">
                        <a>
                            <p>CODE SUMMARY</p>
                        </a>
                    </li>
                    
                </ul>
                <div class="master-btn pl15"  *ngIf="mode == '1' || mode == '2'">
                    <button  mat-raised-button color="primary" (click)="openDatepicker()">Date Filter</button>
                </div>
            </div>
            
            <div class="left-auto">
                <div class="refresh-btn mr10" *ngIf="mode!='4'">
                    <a mat-button matTooltip="Refresh" matTooltipPosition="below" (click)="mode=='1'?getAvailableCoupanList('refresh'):mode=='2'?getScannedList('refresh'):mode=='3'?getRedeemList('refresh'):mode=='5'?getCompanyCoupon('refresh'):getcodeSummaryist('refresh')"><i class="material-icons">refresh</i></a>
                </div>
                
                <div class="master-btn ml10 mr10"  *ngIf="mode == '1'">
                    <button mat-button routerLink="/add-coupon">Generate Coupon</button>
                </div>
                <div class="top-pagination" *ngIf="mode == '1' && !(!filtering && coupon.length == 0 )  ">
                    <ul>
                        <li><p (click)="exportAvailableCouponList()">Pages {{ current_page }} of {{ last_page }}</p></li>
                        <li><button mat-button  matTooltip="First Page" class="fisrt-btn" (click) = 'current1()'>First</button></li>
                        <li><button mat-button  matTooltip="Previous Page" class="left-btn" (click) = 'redirect_previous1()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                        <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="currentPage()"></li>
                        <li><button mat-button  matTooltip="Next Page" class="right-btn" (click) = 'redirect_next1()'><i class="material-icons">keyboard_arrow_right</i></button></li>
                        <li><button mat-button  matTooltip="Last Page" class="last-btn" (click) = 'last1()'>Last</button></li>
                    </ul>
                </div>
                <div class="top-pagination" *ngIf="mode == '2' && !(!filtering && scanned_coupon.length == 0 )  ">
                    <ul>
                        <li><p (click)="exportScannedCouponList()">Pages {{ current_page }} of {{ last_page }}</p></li>
                        <li><button mat-button  matTooltip="First Page" class="fisrt-btn" (click) = 'current2()'>First</button></li>
                        <li><button mat-button class="left-btn" (click) = 'redirect_previous2()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                        <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getScannedList('')"></li>
                        <li><button mat-button class="right-btn" (click) = 'redirect_next2()'><i class="material-icons">keyboard_arrow_right</i></button></li>
                        <li><button mat-button  matTooltip="Last Page" class="last-btn" (click) = 'last2()'>Last</button></li>
                    </ul>
                </div>
                <div class="top-pagination"  *ngIf="mode == '3' && !(!filtering && scanned_coupon.length == 0 )  ">
                    <ul>
                        <li><p (click)="exportRedeemCouponList()">Pages {{ current_page }} of {{ last_page }}</p></li>
                        <li><button mat-button  matTooltip="First Page" class="fisrt-btn" (click) = 'current3()'>First</button></li>
                        <li><button mat-button class="left-btn" (click) = 'redirect_previous3()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                        <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getRedeemList('')"></li>
                        <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
                        <li><button mat-button  matTooltip="Last Page" class="last-btn" (click) = 'last3()'>Last</button></li>
                    </ul>
                </div>
                
                <div class="top-pagination"  *ngIf="mode == '4' && !(!filtering && coupon_code_summary.length == 0 )  ">
                    <ul>
                        <li>Pages {{ current_page }} of {{ last_page }}</li>
                        <li><button mat-button  matTooltip="First Page" class="fisrt-btn" (click) = 'current4()'>First</button></li>
                        <li><button mat-button class="left-btn" (click) = 'redirect_previous4()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                        <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getcodeSummaryist('')"></li>
                        <li><button mat-button class="right-btn" (click) = 'redirect_next4()'><i class="material-icons">keyboard_arrow_right</i></button></li>
                        <li><button mat-button  matTooltip="Last Page" class="last-btn" (click) = 'last4()'>Last</button></li>
                    </ul>
                </div>
                
                <!-- <div class="master-btn ml10 mr10"  *ngIf="mode == '5'">
                    <button mat-button (click)="couponCodeModal('taget1', '')">Scan Coupon</button>
                </div>
                
                <div class="top-pagination"  *ngIf="mode == '5' && !(!filtering && companyCoupon.length == 0 )  ">
                    <ul>
                        <li>Pages  {{ current_page }} of {{ last_page }}</li>
                        <li><button mat-button  matTooltip="First Page" class="fisrt-btn" (click) = 'current5()'>First</button></li>
                        <li><button mat-button class="left-btn" (click) = 'redirect_previous5()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                        <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getCompanyCoupon('')"></li>
                        <li><button mat-button class="right-btn" (click) = 'redirect_next5()'><i class="material-icons">keyboard_arrow_right</i></button></li>
                        <li><button mat-button  matTooltip="Last Page" class="last-btn" (click) = 'last5()'>Last</button></li>
                    </ul>
                </div> -->
            </div>
        </div>
        
        
        
        
        <ng-container *ngIf="mode == '1' && !(!filtering && coupon.length == 0 )  ">
            <div class="css-table"  >
                <div class="sticky-header">
                    <div class="header">
                        <table >
                            <tr>
                                <th class="w50 border-right text-center">S.No.</th>
                                <th class="w140">Date / Created by</th>
                                <th>Coupon Code</th>

                                <!-- <th class="w200" >Product Code</th> -->
                            <th class="w200">Product Point Group</th>
                                <th class="w200">Remarks</th>

                                <th class="w30 text-center" >Action</th>
                            </tr>                        
                        </table>
                    </div>
                    <div class="header border-bott">
                        <table>
                            <tr>
                                <th class="w50 border-right ">&nbsp;</th>
                                <th class="w140">
                                    <div class="vaild-into">
                                        <div class="date-form mr10">
                                            <i *ngIf="filter.date" class="material-icons" (click)="filter.date = '';getAvailableCoupanList('') ">clear</i>
                                            
                                            <mat-form-field>
                                                <input matInput placeholder=" Date" [(ngModel)]="filter.date" (click)="openDatePicker(picker1)" name="date" matInput (dateChange)="getAvailableCoupanList('')" [matDatepicker]="picker1" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </th>  
                                <th>
                                    <div class="form-area">
                                        <div class="search-form">
                                            <input type="text" placeholder="Search" [(ngModel)]="filter.coupon_code"  (keyup.enter)="current_page = 1;getAvailableCoupanList('')">
                                            <i class="material-icons">search</i>
                                        </div>
                                    </div>
                                </th>
                                <th class="w200">
                                    <div class="form-area">
                                        <div class="search-form">
                                            <input type="text" placeholder="Search" [(ngModel)]="filter.product_point_group"  (keyup.enter)="current_page = 1;getAvailableCoupanList('')">
                                            <i class="material-icons">search</i>
                                        </div>
                                    </div>
                                </th>
                                <th class="w200">

                                    <div class="search-form">
                                        <input type="text" placeholder="Search" [(ngModel)]="filter.remark"  (keyup.enter)="current_page = 1;getAvailableCoupanList('')">
                                        <i class="material-icons">search</i>
                                    </div>
                                </th>
                                <th class="w30"></th>
                                
                            </table>
                        </div>
                    </div>
                </div> 
                <div class="css-table">
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr class="arject" *ngFor="let val of coupon; let i = index">
                                    <td class="w50 text-center">{{ i + 1 + sr_no }}</td>
                                    <td class="w140">{{val.date_created  == '0000-00-00 00:00:00' ? 'N/A' : val.date_created | date: 'dd MMM yyyy'}} / {{val.created_name}}</td>
                                    <td>{{val.coupon_code}}</td>
                                    <!-- <td class="w200">{{val.product_code ? val.product_code : 'N/A'}}</td> -->
                                    <td class="w200">{{val.product_point_group}}</td>
                                    <td class="w200">{{val.remark}}</td>
                                    <td class="w30">
                                        <div class="cs-action">
                                            <a class="ac-red" matTooltip="Delete" matTooltipPosition="below" 
                                            (click)="deleteCoupon(val.id)"><i class="material-icons">delete_sweep</i></a>
                                        </div>
                                    </td> 
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
            
            <ng-container  *ngIf="mode == '2' && !(!filtering && scanned_coupon.length == 0 )  " >
                <div class="css-table ">
                    <div class="sticky-header">
                        <div class="header">
                            <table >
                                <tr>
                                    <th class="w50 border-right text-center">S.No.</th>
                                    <th class="w140">Date / Created by</th>
                                    <th class="w110" >Coupon Code</th>
                                    <!-- <th class="w60" >Product Code</th> -->
                                     <th class="w130">Product Point Group</th>
                                    <th class="w180">Used Date & Used By</th>
                                    <th class="w70">Mobile No.</th>
                                    <!-- <th class="w80 text-right">Redeem Amount</th>    -->
                                    <!-- <th class="w120">Transfer Status</th>    -->
                                    <th class="w100">State</th>           
                                    <th class="w100">District</th>           
                                </tr>
                                
                            </table>
                        </div>
                        <div class="header border-bott">
                            <table>
                                <tr>
                                    <th class="w50 border-right ">&nbsp;</th>
                                    <th class="w140">
                                        <div class="vaild-into">
                                            <div class="date-form  mr10">
                                                <i *ngIf="filter.date" class="material-icons" (click)="current_page=1;filter.date = '';getScannedList('') ">clear</i>
                                                
                                                <mat-form-field>
                                                    <input matInput placeholder=" Date" [(ngModel)]="filter.date" (click)="openDatePicker(picker3)" name="date" matInput (dateChange)="current_page=1;getScannedList('')" [matDatepicker]="picker3" readonly> 
                                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            
                                        </div>
                                    </th>  
                                    <th class="w110">
                                        <div class="form-area">
                                            <div class="search-form">
                                                <input type="text" placeholder="Search" [(ngModel)]="filter.coupon_code"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                <i class="material-icons">search</i>
                                            </div>
                                        </div>
                                    </th>
                                    
                                    <th class="w130">
                                        <div class="form-area">
                                            <div class="search-form">
                                                <input type="text" placeholder="Search" [(ngModel)]="filter.product_point_group"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                <i class="material-icons">search</i>
                                            </div>
                                        </div>
                                    </th>
                                    <!-- <th class="w150"></th> -->
                                    
                                    <th class="w180">
                                        <div class="vaild-into">
                                            <div class="date-form mr10">
                                                <i *ngIf="filter.scan_date" class="material-icons" (click)="current_page=1;filter.scan_date = '';getScannedList('') ">clear</i>
                                                
                                                <mat-form-field>
                                                    <input matInput placeholder=" Search"  [(ngModel)]="filter.scan_date" (click)="current_page=1;openDatePicker(picker5)" name="scan_date" matInput (dateChange)="current_page=1;getScannedList('')" [matDatepicker]="picker5" readonly>
                                                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker5></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-area">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search" [(ngModel)]="filter.used_by"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </th>
                                    
                                    <th class="w70">
                                        <div class="form-area">
                                            <div class="search-form">
                                                <input type="text" placeholder="Search" [(ngModel)]="filter.mobile"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                <i class="material-icons">search</i>
                                            </div>
                                        </div>
                                    </th>
                                    <!-- <th class="w80">
                                        <div class="vaild-into">
                                            <div class="form-area">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search..." [(ngModel)]="filter.points"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </div>
                                        </div>
                                    </th> -->
                                    <!-- <th class="w120"></th> -->
                                    <th class="w100"></th>
                                    <th class="w100"></th>
                                </tr>
                            </table>
                        </div>
                    </div>  
                </div>
                <div class="css-table">
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr class="arject" *ngFor="let val of scanned_coupon; let i = index">
                                    <td class="w50 text-center">{{ i + 1 + sr_no }}</td>
                                    <td class="w140"><ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' "> {{val.date_created | date: 'dd MMM yyyy'}} / </ng-container>{{val.created_name}}</td>
                                    <td class="w110">{{val.coupon_code}}</td>
                                    <!-- <td class="w60">{{val.product_code ? val.product_code : 'N/A'}}</td> -->
                                    <td class="w130">{{val.product_point_group}}</td>
                                    <!-- <td><a class="blue" routerLink="/offer-detail/{{val.offer_id}}" routerLinkActive="active">{{val.title}} #{{val.offer_code}} </a> / {{val.end_date | date : 'dd MMM yyyy'}}</td> -->
                                    <td class="w180"><p>{{val.scan_by_karigar_date | date : 'dd MMM yyyy'}} / <a class="blue" routerLink="/karigar-detail/{{val.scan_by_karigar_id}}/1" routerLinkActive="active">{{val.first_name  | titlecase }} {{val.last_name  | titlecase }}</a></p></td>
                                    <td class="w70">{{val.mobile_no}}</td>
                                    <!-- <td class="w80 text-right"><strong>&#x20B9; {{val.karigar_coupon_value}}</strong></td>       -->
                                    <!-- <td class="w120 {{val.transfer_status}}" >{{val.transfer_status}}  <a class="blue" (click)="couponCodeModal('taget2', val)">View Remark</a></td>    -->
                                    <td class="w100">{{val.state}}</td>  
                                    <td class="w100">{{val.district}}</td>  
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
            
            <ng-container *ngIf="mode == '3' && !(!filtering && scanned_coupon.length == 0 )  " >
                <div class="css-table " >
                    <div class="sticky-header">
                        <div class="header">
                            <table >
                                <tr>
                                    <th class="w50 border-right text-center">S.No.</th>
                                    <th class="w140">Date / Created by</th>
                                    <th class="w110" >Coupon Code</th>
                                    <!-- <th class="w60" >Product Code</th> -->
                                    <th class="w130" >Product Point Group</th>
                                    <th class="w150">Company Name</th>
                                    <th class="w160">Used Date & Used By</th>
                                    <th class="w110">Mobile No.</th>
                                    <!-- <th class="w80 text-right ">Redeem Amount</th>    -->
                                    <!-- <th class="w120">Transfer Status</th>    -->
                                    <th class="w100">State</th>           
                                    <th class="w100">District</th>           
                                </tr>
                                
                            </table>
                        </div>
                        <div class="header border-bott">
                            <table>
                                <tr>
                                    <th class="w50 border-right ">&nbsp;</th>
                                    <th class="w140">
                                        <div class="vaild-into">
                                            <div class="date-form  mr10">
                                                <i *ngIf="filter.date" class="material-icons" (click)="current_page=1;filter.date = '';getScannedList('') ">clear</i>
                                                
                                                <mat-form-field>
                                                    <input matInput placeholder=" Date" [(ngModel)]="filter.date" (click)="openDatePicker(picker3)" name="date" matInput (dateChange)="current_page=1;getScannedList('')" [matDatepicker]="picker3" readonly> 
                                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            
                                        </div>
                                    </th>  
                                    <th class="w110">
                                        <div class="form-area">
                                            <div class="search-form">
                                                <input type="text" placeholder="Search" [(ngModel)]="filter.coupon_code"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                <i class="material-icons">search</i>
                                            </div>
                                        </div>
                                    </th>
                                    
                                    <th class="w130">
                                        <div class="form-area">
                                            <div class="search-form">
                                                <input type="text" placeholder="Search" [(ngModel)]="filter.product_point_group"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                <i class="material-icons">search</i>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="w150"></th>
                                    
                                    <th class="w160">
                                        <div class="vaild-into">
                                            <div class="date-form mr10">
                                                <i *ngIf="filter.scan_date" class="material-icons" (click)="current_page=1;filter.scan_date = '';getScannedList('') ">clear</i>
                                                
                                                <mat-form-field>
                                                    <input matInput placeholder=" Search"  [(ngModel)]="filter.scan_date" (click)="current_page=1;openDatePicker(picker5)" name="scan_date" matInput (dateChange)="current_page=1;getScannedList('')" [matDatepicker]="picker5" readonly>
                                                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker5></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-area">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search" [(ngModel)]="filter.used_by"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </th>
                                    
                                    <th class="w110">
                                        <div class="form-area">
                                            <div class="search-form">
                                                <input type="text" placeholder="Search" [(ngModel)]="filter.mobile"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                <i class="material-icons">search</i>
                                            </div>
                                        </div>
                                    </th>
                                    <!-- <th class="w80">
                                        <div class="vaild-into">
                                            <div class="form-area">
                                                <div class="search-form">
                                                    <input type="text" [(ngModel)]="filter.points"  (keyup.enter)="current_page = 1;getScannedList('')">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </div>
                                        </div>
                                    </th> -->
                                    <!-- <th class="w120">&nbsp;</th>    -->
                                    <th class="w100"></th>
                                    <th class="w100"></th>
                                </tr>
                            </table>
                        </div>
                    </div>  
                </div>
                <div class="css-table" *ngIf="mode == '3' && scanned_coupon.length">
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr class="arject" *ngFor="let val of scanned_coupon; let i = index">
                                    <td class="w50 text-center">{{ i + 1 + sr_no }}</td>
                                    <td class="w140"><ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' "> {{val.date_created | date: 'dd MMM yyyy'}} /</ng-container>{{val.created_name}}</td>
                                    <td class="w110">{{val.coupon_code}}</td>
                                    <!-- <td class="w60">{{val.product_code ? val.product_code : 'N/A'}}</td> -->
                                    <td class="w130">{{val.product_point_group}}</td>
                                    <td class="w150">{{val.company_name}}</td>
                                    <td class="w160"><p>{{val.scan_by_retailer_date | date : 'dd MMM yyyy'}} / <a class="blue" routerLink="/dealer-detail/{{val.scan_by_retailer_id}}/{{current_page}}" routerLinkActive="active">{{val.first_name}} {{val.last_name}}</a></p></td>
                                    <td class="w110">{{val.mobile_no}}</td>
                                    <!-- <td class="w80 text-right"><strong>&#x20B9; {{val.retailer_coupon_value}}</strong></td>       -->
                                    <!-- <td class="w120 {{val.transfer_status}}" >{{val.transfer_status}}  <a class="blue" (click)="couponCodeModal('taget2', val)">View Remark</a></td>    -->
                                    <td class="w100">{{val.state}}</td>     
                                    <td class="w100">{{val.district}}</td>     
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
            
            <ng-container  *ngIf="mode == '4' && !(!filtering && coupon_code_summary.length == 0 )  ">
                <div class="css-table">
                    <div class="sticky-header">
                        <div class="header">
                            <table >
                                <tr>
                                    <th class="w30">&nbsp;</th>
                                    <th class="w100" >Date</th>
                                    <!-- <th class="w100" >Offer</th> -->
                                    <!-- <th class="w100">Total Coupon</th> -->
                                    <!-- <th class="w100">Total Coupon Value</th> -->
                                    <th>First coupon</th>
                                    <th>Last coupon</th>
                                    <!-- <th class="w100">Action</th> -->
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="css-table" *ngIf="mode == '4' && coupon_code_summary.length">
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr *ngFor="let val of coupon_code_summary; let i = index">
                                    <td class="w30">{{ i + 1 }}</td>
                                    <td class="w100">{{val.date_created | date: 'dd MMM yyyy'}}</td>
                                    <td>{{val.first_coupon_code}}</td>
                                    <td>{{val.last_coupon_code}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
            
    
                    
                </div>
                
                
                
                
                
                
                
                
                
                <div class="date-not" *ngIf=" mode == '1' && ( !loading_list && (filtering && coupon.length == 0 ))">
                    <div class="no-img">
                        <img src="assets/result-not-found.png"> 
                    </div>
                </div>
                
                <div class="date-not"  *ngIf=" mode == '1' && ( !loading_list && (!filtering && coupon.length == 0 ) ) ">
                    <div class="no-img">
                        <img src="assets/not-available.jpg"> 
                    </div>
                </div>
                
                <div class="date-not" *ngIf=" mode == '2' && ( !loading_list && (filtering && scanned_coupon.length == 0 ))">
                    <div class="no-img">
                        <img src="assets/result-not-found.png"> 
                    </div>
                </div>
                <div class="date-not"  *ngIf=" mode == '2' && ( !loading_list && (!filtering && scanned_coupon.length == 0 ) ) ">
                    <div class="no-img">
                        <img src="assets/not-available.jpg"> 
                    </div>
                </div>
                <div class="date-not" *ngIf=" mode == '3' && ( !loading_list && (filtering && scanned_coupon.length == 0 ))">
                    <div class="no-img">
                        <img src="assets/result-not-found.png"> 
                    </div>
                </div>
                <div class="date-not"  *ngIf=" mode == '3' && ( !loading_list && (!filtering && scanned_coupon.length == 0 ) ) ">
                    <div class="no-img">
                        <img src="assets/not-available.jpg"> 
                    </div>
                </div>
                <div class="date-not" *ngIf=" mode == '4' && ( !loading_list && (filtering && coupon_code_summary.length == 0 ))">
                    <div class="no-img">
                        <img src="assets/result-not-found.png"> 
                    </div>
                </div>
                <div class="date-not"  *ngIf=" mode == '4' && ( !loading_list && (!filtering && coupon_code_summary.length == 0 ) ) ">
                    <div class="no-img">
                        <img src="assets/not-available.jpg"> 
                    </div>
                </div>
                
                <!-- Excel code -->
                <div class="excel-btn" (click)="exportAvailableCouponList()" *ngIf="mode == '1' && coupon.length">
                    <div class="image-area">
                        <a>
                            <img src="assets/excel.svg">
                        </a>
                    </div>
                </div>
                <div class="excel-btn" (click)="exportKarigarCouponList()" *ngIf="mode == '2' && scanned_coupon.length">
                    <div class="image-area">
                        <a>
                            <img src="assets/excel.svg">
                        </a>
                    </div>
                </div>
                <div class="excel-btn" (click)="exportRetailerCouponList()" *ngIf="mode == '3' && scanned_coupon.length">
                    <div class="image-area">
                        <a>
                            <img src="assets/excel.svg">
                        </a>
                    </div>
                </div>
                <!-- <div class="excel-btn" (click)="exportSummary()" *ngIf="mode == '4' && coupon_code_summary.length">
                    <div class="image-area">
                        <a>
                            <img src="assets/excel.svg">
                        </a>
                    </div>
                </div> -->
 
            </div>
            